[target.aarch64-unknown-linux-gnu]
image = "ghcr.io/cross-rs/$TARGET:main"
# Install libssl-dev:arm64, see <https://github.com/cross-rs/cross/blob/main/docs/custom_images.md#adding-dependencies-to-existing-images>
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH", 
    "apt-get update && apt-get --assume-yes install libssl-dev:$CROSS_DEB_ARCH" 
    # libgtk-4-dev:$CROSS_DEB_ARCH 
]
